<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @athlete.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @athlete.lastname %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @athlete.sport %>
</p>

<p>
  <strong>League:</strong>
  <%= @athlete.league %>
</p>

<p>
  <strong>Team:</strong>
  <%= @athlete.team %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
